# Django
SECRET_KEY=django-insecure-5uhqh76f(o(@!&@_52n#0653t--szfw)@c-ae50az&0fgm8hu$
DEBUG=TRUE
ALLOWED_HOSTS=

# PostgreSql
DB_NAME=aibuddy
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# OpenAI API key
OPENAI_API_KEY=