# Django
SECRET_KEY=django-insecure-5uhqh76f(o(@!&@_52n#0653t--szfw)@c-ae50az&0fgm8hu$
DEBUG=TRUE
ALLOWED_HOSTS=

# PostgreSql
DB_NAME=aibuddy
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# OpenAI API key
OPENAI_API_KEY=


# Email (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=
